.post-form-header {
    padding: .5rem;
}
.post {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
    align-items: center;
    padding: 1rem;

    & > div:first-child {
        text-align: center;
    }

    img {
        width: 150px;
    }
}